body{
    background-image: url("img.jpg") ;
}
#outer{
    border: 6px rgb(92, 89, 89) solid;
    border-radius: 15px;
    width: 258px;
    height: 400px;
    margin-top: 200px;
    margin-bottom:200px;
    margin-left:625px;
    margin-right:625px;
    background-color: rgb(97, 183, 244);
}
#screen{
    width: 235px;
    height: 110px;
    border: 2px rgb(8, 6, 6) solid;
    border-radius: 10px;
    margin: 11px;
    background-color: rgb(211, 200, 209);
}
#inner1{
    text-align: center;
}
#inner2{
    text-align: center;
}
#inner3{
    text-align: center;
}
#inner4{
    text-align: center;
}
.buttons{
    width: 50px;
    height: 55px;
    text-align: center;
    background-color: rgb(124, 238, 238);
    color: black;
    border: black solid;
    border-radius: 10px;
    margin: 5px;
}
.buttons:hover{
    background-color: rgb(30, 185, 185) ;
}